.article-section strong {
  font-weight: var(--fontWeight-black);
}

.article-section p {
  line-height: 1.8;
}

.article-section h2 {
  padding-bottom: 32px;
}

.article-section h3 {
  padding-bottom: 32px;
}

.article-section p {
  padding-bottom: 32px;
}
.article-section ol {
  padding-bottom: 32px;
}

.article-section ul {
  list-style: disc;
  margin-bottom: 16px;
  line-height: 1.8;
  list-style-position: inside;
}

.article-section img {
  margin-bottom: 30px;
  margin-top: 30px;
}

.article-section ol {
  list-style: decimal;
  line-height: 1.8;
  list-style-position: inside;
}

.article-section li p {
  display: inline;
  padding-bottom: 0;
}
